<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://unpkg.com/vue@next" ></script>
</head>
<body>
    <div id="app"></div>
</body>
<script>
    const app=Vue.createApp({ 
        data(){
            return{
                listArray: ['谢大脚','刘英','晓红'],
                listObject: {
                    GirlOne: 'AAA',
                    GirlTwo: 'BBB',
                    GirlThree: 'CCCC',
                }
            }
        },
        methods:{
            add(){
                this.listArray.push('xxx' + Date.now());
            },
            del(idx){
                console.log('idx,', idx);
                this.listArray.splice(idx, 1);
            }
        },
        template:`
            <ul>
                <li v-for="(item, idx) in listArray" :key="idx+item">
                    [{{idx}}]-{{item}} 
                    <button @click="del(idx)">Del</button>
                </li>
            </ul>
            <button @click="add">Add</button>

            <ul>
                <li v-for="(value, key, idx) in listObject">
                    #[{{idx}}].[{{key}}]-{{value}}
                </li>
            </ul>
        `

    }) 
    const vm=app.mount("#app")
</script>
</html>